/*cores*/
@import url(./cores.css);

/*desktop*/
header{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-top: 71px;

}
header img{
    width: 155px;
    height: 70px;
}
header nav{
    width: 123px;
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}
header nav a{
    font-size: 14px;
    text-decoration: none;
    line-height: 16px;
    color: var(--preto);
}
/*tablet*/
@media(max-width:1200px){
    header{
        width:75.1vw;
    }
}

/*celular*/
@media(max-width:600px){
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header nav{
        width: 155px;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    header nav a{
        margin: 2vh 0;
    }
}
