@import url(./root.css);

header{
    display: flex;
    justify-content: space-between;
    margin: 0 120px ;
    margin-top: 71px;

}
header img{
    width: 155px;
    height: 70px;
}
header nav{
    width: 123px;
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}
header nav a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    line-height: 16px;
    color: var(--preto);
}
